################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.temp
.temp/*
.idea
.idea/*
/.temp
/.temp/*
/.idea
/.idea/*
.vs
.vs/*